@import "tailwindcss";
@import "tailwindcss-animated";


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.filled-icon {
  fill: currentColor;
  /* Or a specific color like 'yellow' */
  stroke-width: 0;
  /* Remove the stroke */
}

label {
  font-size: 11pt;
  opacity: 0.7;
}

input[type='number']::-webkit-inner-spin-button {
  appearance: none;
}

/* body {
  font-family: Inter;
} */

/*table tbody::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

table tbody::-webkit-scrollbar-track {
  background: #1f191900;
  border-radius: 10px;
}

table tbody::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #4a556800, #2d374800);
  border-radius: 10px;
  border: 2px solid #1a1a1a00;
}

table tbody::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #5a667800, #3d475800);
}

table tbody::-webkit-scrollbar-thumb:active {
  background: linear-gradient(180deg, #6a768800, #4d576800);
}

/* Firefox */
/*table tbody {
  scrollbar-width: thin;
  scrollbar-color: #5e5e5e #1a1a1a00;
}

/* Scrollbar corner */
/*table tbody::-webkit-scrollbar-corner {
  background: #1a1a1a;
}*/

.no-scrollBar::-webkit-scrollbar {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 0px;

}

body::-webkit-scrollbar {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 0px;

}

iframe {
  background-color: transparent;
  border: 0;
}

#toolbar{
  display: none !important;
}